{% extends 'home/base2.html' %}
{% load static %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}">
{% endblock %}

{% block objectives %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="table-responsive">
                
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="card-title">{{student.first_name}}  {{student.sir_name}}</h5>
                        <a href="" type="button" class="btn btn-primary text-nowrap" data-bs-toggle="modal" data-bs-target="#studentModal">Edit Student</a>
                    </div>
                </div>
            </div>
        </div>  
        <div class="card shadow mb-4">
            <div class="card-body">
                
                <div class="row">
                  <div class="col-12">
                  <div class="col-8 d-flex justify-content-center">
                    {% if student.image %}
                    <img src="{{ student.image.url}}"  alt="Passport Photo" style="width: 120px; height: auto; border-radius: 5px; " />
                    {% else %}
                    <img src="{% static 'img/passport 2.jpg' %}"  alt="Passport Photo" style="width: 120px; height: auto; border-radius: 5px; " />
                    {% endif %}
                  </div>
                  </div>
                    <div class="col-6">
                      
                        <p style="color: black;"><strong>Nationality </strong>: {{student.nationality}}</p>
                        <p style="color: black;"><strong>Date Of Birth </strong>: {{student.date_of_birth}}</p>
                        <p style="color: black;"><strong>ID/Passport</strong>: {{student.id_passport}}</p>
                        
                        
                    </div>
                    <div class="col-6">
                        <p style="color: black;"><strong>Contact</strong>: {{student.contact}}</p>
                        <p style="color: black;"><strong>Email </strong>: {{student.email}}</p>
                        <p style="color: black;"><strong>Registration Number</strong>: {{student.registration_number}}</p>
                        
                    </div>
                    <!-- <hr> -->
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <!-- <p style="color: black;"><strong>Occupation </strong>: {{student.occupation}}</p> -->
                        <p style="color: black;"><strong>Admission Year </strong>: {{student.admission_year}}</p>
                        <p style="color: black;"><strong>Responsible</strong>: {{student.responsible}}</p>
                    </div>
                    <div class="col-6">
                        <!-- <p style="color: black;"><strong>Self</strong>: {{student.billing_self}}</p> -->
                        <!-- <p style="color: black;"><strong>Organization </strong>: {{student.email}}</p> -->
                         <p style="color: black;"><strong>Month</strong>: {{student.month}}</p>
                        
                        <p style="color: black;"><strong>Telephone </strong>: {{student.telephone}}</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <p style="color: black;"><strong>Language Spoken </strong>: {{student.language_spoken}}</p>
                        <p style="color: black;"><strong>Language To Learn </strong>: {{student.language_to_learn}}</p>
                        <p style="color: black;"><strong>Course Type</strong>: {{student.course_type}}</p>
                        
                    </div>
                    <div class="col-6">
                        <p style="color: black;"><strong>Duration</strong>: {{student.duration}}</p>
                        <!-- <p style="color: black;"><strong>Organization </strong>: {{student.email}}</p> -->
                        <p style="color: black;"><strong>Start Date</strong>: {{student.start_date}}</p>
                        <p style="color: black;"><strong>Other Courses </strong>: {{student.other_courses}}</p>
                        <p style="color: black;"><strong>Modality </strong>: {{student.modality}}</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
          <div class="card-body">
              <div class="row">
                  <div class="col-6">
                    {% if student.non_refundable_fee %}
                        <p style="color: black;">
                          <strong>Non Refundable Fee </strong>: 
                          <a href="{{ student.non_refundable_fee.url }}" target="_blank">Download</a>
                        </p>
                      {% else %}
                        <p><strong>Non Refundable Fee</strong>: Not uploaded</p>
                      {% endif %}
                      {% if student.copy_of_id %}
                      <p style="color: black;">
                        <strong>Coppy of ID </strong>: 
                        <a href="{{ student.copy_of_id.url }}" target="_blank">Download</a>
                      </p>
                    {% else %}
                      <p><strong>Coppy of ID</strong>: Not uploaded</p>
                    {% endif %}
                    {% if student.passport_photo %}
                      <p style="color: black;">
                        <strong>Passport Photo </strong>: 
                        <a href="{{ student.passport_photo.url }}" target="_blank">Download</a>
                      </p>
                    {% else %}
                      <p><strong>Passport Photo</strong>: Not uploaded</p>
                    {% endif %}
                    {% if student.coppy_of_transcripts %}
                    <p style="color: black;">
                      <strong>Coppy Of Transcripts </strong>: 
                      <a href="{{ student.coppy_of_transcripts.url }}" target="_blank">Download</a>
                    </p>
                  {% else %}
                    <p><strong>Coppy Of Transcripts</strong>: Not uploaded</p>
                  {% endif %}
                     
                      
                  </div>
                  <div class="col-6">
                    {% if student.coppy_of_all_degrees %}
                    <p style="color: black;">
                      <strong>Coppy Of All Degrees </strong>: 
                      <a href="{{ student.coppy_of_all_degrees.url }}" target="_blank">Download</a>
                    </p>
                  {% else %}
                    <p><strong>Coppy Of All Degrees</strong>: Not uploaded</p>
                  {% endif %}
                  {% if student.copies_of_diplomas %}
                    <p style="color: black;">
                      <strong>Coppy Of Diplomas </strong>: 
                      <a href="{{ student.copies_of_diplomas.url }}" target="_blank">Download</a>
                    </p>
                  {% else %}
                    <p><strong>Coppy Of Diplomas</strong>: Not uploaded</p>
                  {% endif %}
                  {% if student.coppy_of_qualifications %}
                    <p style="color: black;">
                      <strong>Coppy Of Qualifications </strong>: 
                      <a href="{{ student.coppy_of_qualifications.url }}" target="_blank">Download</a>
                    </p>
                  {% else %}
                    <p><strong>Coppy Of Qualifications</strong>: Not uploaded</p>
                  {% endif %}
                  
                  </div>
                  
              </div>
          </div>
      </div>
        
    </div>
</div>
<div class="modal fade mt-10" id="studentModal" data-backdrop="static" data-keyboard="false" style="width:100%">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body">
          
          <form method="post" id="submitForm" action="{% url 'consolata_admin:update-student' student.studentid %}"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card shadow mb-4">
              <div class="card-body">
                <div class="mb-5">
                    <center><h5 class="card-title align-items-center">Edit Student Details</h5></center>
                </div>
                
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="ticketFunction" class="col-sm-4 col-form-label">Photo:</label>
                      <!-- <label for="relatedRecord"><strong>Location</strong></label> -->
                      <div class="col-sm-8  py-2">
                        <input type="file" class="form-control" id="photo" name="photo" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="ticketFunction" class="col-sm-4 col-form-label">Registration no.:</label>
                      <div class="col-sm-8  py-2">
                        <input type="text" class="form-control" id="reg-no" name="reg-no" value="{{student.registration_number}}" placeholder="{{student.registration_number}}">
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="ticketFunction" class="col-sm-4 col-form-label">First Name:</label>
                      <!-- <label for="relatedRecord"><strong>Location</strong></label> -->
                      <div class="col-sm-8  py-2">
                        <input type="text" class="form-control" id="first-name" name="first-name" value="{{student.first_name}}" placeholder="{{student.first_name}}">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="ticketFunction" class="col-sm-4 col-form-label">Last Name:</label>
                      <div class="col-sm-8  py-2">
                        <input type="text" class="form-control" id="last-name" name="last-name" value="{{student.last_name}}" placeholder="{{student.last_name}}">
                      </div>
                    </div>
                  </div>

                </div>
                
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="ticketFunction" class="col-sm-4 col-form-label">Nationality:</label>
                      <!-- <label for="relatedRecord"><strong>Location</strong></label> -->
                      <div class="col-sm-8  py-2">
                        <input type="text" class="form-control" id="nationality" name="nationality" value="{{student.nationality}}" placeholder="{{student.nationality}}">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="ticketFunction" class="col-sm-4 col-form-label">ID/Passport:</label>
                      <div class="col-sm-8  py-2">
                        <input type="text" class="form-control" id="id-passport" name="id-passport" value="{{student.id_passport}}" placeholder="{{student.id_passport}}">
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="ticketFunction" class="col-sm-4 col-form-label">Date Of Birth:</label>
                      <!-- <label for="relatedRecord"><strong>Location</strong></label> -->
                      <div class="col-sm-8  py-2">
                        <input type="date" class="form-control" id="birth-date" name="birth-date" value="{{student.date_of_birth}}" placeholder="{{student.date_of_birth}}" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="ticketFunction" class="col-sm-4 col-form-label">Contact:</label>
                      <div class="col-sm-8  py-2">
                        <input type="text" class="form-control" id="contact" name="contact" value="{{student.contact}}" placeholder="{{student.contact}}">
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="ticketFunction" class="col-sm-4 col-form-label">Email:</label>
                      <!-- <label for="relatedRecord"><strong>Location</strong></label> -->
                      <div class="col-sm-8  py-2">
                        <input type="email" class="form-control" id="email" name="email" value="{{student.email}}" placeholder="{{student.email}}">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="ticketFunction" class="col-sm-4 col-form-label">Occupation:</label>
                      <div class="col-sm-8  py-2">
                        <input type="text" class="form-control" id="occupation" name="occupation" value="{{student.occupation}}" placeholder="{{student.occupation}}">
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="ticketFunction" class="col-sm-4 col-form-label">Address:</label>
                        <!-- <label for="relatedRecord"><strong>Location</strong></label> -->
                        <div class="col-sm-8  py-2">
                          <input type="text" class="form-control" id="address" name="address" value="{{student.address}}" placeholder="{{student.address}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="ticketFunction" class="col-sm-4 col-form-label">Sponsor:</label>
                        <div class="col-sm-8  py-2">
                          <input type="text" class="form-control" id="sponsor" name="sponsor" value="{{student.sponsor}}" placeholder="{{student.sponsor}}">
                        </div>
                      </div>
                    </div>
  
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="ticketFunction" class="col-sm-4 col-form-label">Year of Admission:</label>
                        <!-- <label for="relatedRecord"><strong>Location</strong></label> -->
                        <div class="col-sm-8  py-2">
                            <select name="year-of-admission" id="year-of-admission" class="form-control" required>
                                {% for choice in form.admission_year.field.choices %}
                                  <option value="{{ choice.0 }}" {% if choice.0 == form.admission_year.value %}selected{% endif %}>
                                    {{ choice.1 }}
                                  </option>
                                {% endfor %}
                            </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="ticketFunction" class="col-sm-4 col-form-label">Month:</label>
                        <div class="col-sm-8  py-2">
                            <select name="month-of-admission" id="month-of-admission" class="form-control" required>
                                {% for choice in form.month.field.choices %}
                                  <option value="{{ choice.0 }}" {% if choice.0 == form.month.value %}selected{% endif %}>
                                    {{ choice.1 }}
                                  </option>
                                {% endfor %}
                              </select>
                        </div>
                      </div>
                    </div>
  
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="ticketFunction" class="col-sm-4 col-form-label">Name of Responsible:</label>
                        <!-- <label for="relatedRecord"><strong>Location</strong></label> -->
                        <div class="col-sm-8  py-2">
                          <input type="text" class="form-control" id="responsible" name="responsible" value="{{student.responsible}}" placeholder="{{student.responsible}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="ticketFunction" class="col-sm-4 col-form-label">Telephone:</label>
                        <div class="col-sm-8  py-2">
                          <input type="text" class="form-control" id="telephone" name="telephone" value="{{student.telephone}}" placeholder="{{student.telephone}}">
                        </div>
                      </div>
                    </div>
  
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="ticketFunction" class="col-sm-4 col-form-label">Type Of Sponsorship:</label>
                        <!-- <label for="relatedRecord"><strong>Location</strong></label> -->
                        <div class="col-sm-8  py-2">
                          <input type="text" class="form-control" id="spoken-language" name="type_of_sponsorship" value="{{student.type_of_sponsorship}}" placeholder="{{student.type_of_sponsorship}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="ticketFunction" class="col-sm-4 col-form-label">Language Spoken:</label>
                        <div class="col-sm-8  py-2">
                          <input type="text" class="form-control" id="spoken-language" name="spoken-language" value="{{student.language_spoken}}" placeholder="{{student.language_spoken}}">
                        </div>
                      </div>
                    </div>
  
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="ticketFunction" class="col-sm-4 col-form-label">Language To Be Learnt:</label>
                        <!-- <label for="relatedRecord"><strong>Location</strong></label> -->
                        <div class="col-sm-8  py-2">
                            <select name="language-to-learn" id="language-to-learn" class="form-control" required>
                                {% for choice in form.language_to_learn.field.choices %}
                                  <option value="{{ choice.0 }}" {% if choice.0 == form.language_to_learn.value %}selected{% endif %}>
                                    {{ choice.1 }}
                                  </option>
                                {% endfor %}
                              </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="ticketFunction" class="col-sm-4 col-form-label">Type of language course:</label>
                        <div class="col-sm-8  py-2">
                            <select name="type-of-course" id="type-of-course" class="form-control" required>
                                {% for choice in form.course_type.field.choices %}
                                  <option value="{{ choice.0 }}" {% if choice.0 == form.course_type.value %}selected{% endif %}>
                                    {{ choice.1 }}
                                  </option>
                                {% endfor %}
                              </select>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="ticketFunction" class="col-sm-4 col-form-label">Duration:</label>
                        <!-- <label for="relatedRecord"><strong>Location</strong></label> -->
                        <div class="col-sm-8  py-2">
                            <select name="duration" id="duration" class="form-control" required>
                                {% for choice in form.duration.field.choices %}
                                  <option value="{{ choice.0 }}" {% if choice.0 == form.duration.value %}selected{% endif %}>
                                    {{ choice.1 }}
                                  </option>
                                {% endfor %}
                              </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="ticketFunction" class="col-sm-4 col-form-label">Beginning Date:</label>
                        <div class="col-sm-8  py-2">
                          <input type="date" class="form-control" id="biggining-date" name="biggining-date" value="{{student.beginning_date}}" placeholder="{{student.beginning_date}}" required>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="ticketFunction" class="col-sm-4 col-form-label">Self:</label>
                        <div class="col-sm-8  py-2">
                          <input type="text" class="form-control" id="self" name="self" value="{{student.self}}" placeholder="{{student.self}}">
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
               
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="ticketFunction" class="col-sm-4 col-form-label">Other Courses:</label>
                        <!-- <label for="relatedRecord"><strong>Location</strong></label> -->
                        <div class="col-sm-8  py-2">
                            <select name="other-courses" id="other-courses" class="form-control" required>
                                {% for choice in form.other_courses.field.choices %}
                                  <option value="{{ choice.0 }}" {% if choice.0 == form.other_courses.value %}selected{% endif %}>
                                    {{ choice.1 }}
                                  </option>
                                {% endfor %}
                              </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="ticketFunction" class="col-sm-4 col-form-label">Modality Of Study:</label>
                        <div class="col-sm-8  py-2">
                            <select name="modality_of_study" id="modality_of_study" class="form-control" required>
                                {% for choice in form.modality.field.choices %}
                                  <option value="{{ choice.0 }}" {% if choice.0 == form.modality.value %}selected{% endif %}>
                                    {{ choice.1 }}
                                  </option>
                                {% endfor %}
                              </select>
                        </div>
                      </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <div class="submit-spinner" id="spinner"></div>
                  <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
              </div>
              </div>
            </div>
                                        
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'assets/js/vendor.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-basic.init.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#biannual_appraisals').DataTable({
            "order": [[ 1, "desc" ]]  // Order by the Period column (4th column)
        });
    });
</script>

{% endblock %}